<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>




<div class="container">
  <div class="row ">
    <div class="col-lg-offset-1 col-lg-8 Blocprincipal">
      <div class="row">
        <div class="col-lg-offset-1 col-lg-10">
          <div class="row">
            <div class="col-lg-3 bloc-item">
              <div class="tittreimage">Support fissuré</div>
            <div class ="imgbb">
              <div class = "cc-selector">
                <input  id="supportfissure" type="radio" ng-model="$ctrl.selectedpeinturefacade" value="supportfgfissure">
                <label class = "item supportfissure" for="supportfissure" title="support fissuré"></label>
              </div>
            </div>
          </div>

            <div class="col-lg-3 bloc-item">
              <div class="tittreimage">Support non fissuré</div>
              <div class ="imgbb">
                <div class = "cc-selector">
                  <input  id="supportnonfissure" type="radio" ng-model="$ctrl.selectedpeinturefacade" value="supportnonfissure">
                  <label class = "item supportnonfissure" for="supportnonfissure" title="support non fissuré"></label>
                </div>
              </div>
            </div>




        </div>
      </div>
    </div>
  </div>
</div>
</div>





</body>
</html>